version: '3.8'
services:
  mongo:
    image: mongo:6.0
    container_name: missed-monitor-mongo
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "${MONGO_PORT:-27017}:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
