name: CI

on:
  push:
    branches:
      - '**'

jobs:
  build-and-test-api:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./api
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
          cache: 'npm'
          cache-dependency-path: api/package-lock.json
      - name: Start docker-compose
        run: docker-compose up -d
        working-directory: .
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
      - name: Build Docker image
        run: docker build . -t missed-monitor-api:latest

  build-and-test-ui:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ui
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '24'
          cache: 'npm'
          cache-dependency-path: ui/package-lock.json
      - name: Start docker-compose
        run: docker-compose up -d
        working-directory: .
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
      - name: Test
        run: npm run test
      - name: Build Docker image
        run: docker build . -t missed-monitor-ui:latest
